<!-- app/views/admin/payment_settings/edit.html.erb -->
<h1>Payment Settings</h1>

<%= form_with(model: @payment_setting, url: admin_payment_setting_path, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :value, "Membership Registration Fee (GHC)" %>
    <%= form.text_field :value, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Settings", class: "btn btn-primary" %>
  </div>
<% end %>
